html{
    min-height: 100%;
}

body {
    margin: 0;
	font-family: 'Helvetica', sans-serif;
    overflow-X: hidden;
    background: hsla(168, 76%, 42%, 1);
    background: linear-gradient(-45deg, hsla(168, 76%, 42%, 1) 0%, hsla(282, 44%, 47%, 1) 100%);
    background: -moz-linear-gradient(-45deg, hsla(168, 76%, 42%, 1) 0%, hsla(282, 44%, 47%, 1) 100%);
    background: -webkit-linear-gradient(-45deg, hsla(168, 76%, 42%, 1) 0%, hsla(282, 44%, 47%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1ABC9C", endColorstr="#8E44AD", GradientType=1 );
}

#name{
	font-size: 24px;
	margin: 10px 0 0 0;
	font-weight: lighter;
	text-transform: uppercase;
	color: #eeeeee;
}

.aboutTitle{
    color: white;
    font-size: 46px;
}

.aboutTitle:after{
    content:"";
    position: absolute;
    background-color:black;
    opacity: 0.4;
    height: 2px;
    border-radius: 15%;
    width: 100%;
    left: 0;
    bottom: 215px;
}

p {
	font-size: 12px;
	font-weight: light;
	color: #333333;
}

h1{
    color: white;
    font-size: 24px;
}

h2{
    color: white;
    font-size: 24px;
    line-height: 0px;
}

.column{
    position: absolute;
    color: white;
    font-size: 16px;
    line-height: 60px;
}

#column1{
    margin-top: 300px;
    left: 250px;
}

#column2{
    margin-top: 335px;
    left: 600px;
}

#column3{
    margin-top: 335px;
    left: 900px;
}

#Tools{
    margin-top: -15px;
}

.pText{
  font-size: 20px;
  line-height: 40px;
  color: white;
  padding: 10px;
}

.pText:after{
    content:"";
    position: absolute;
    background-color:black;
    opacity: 0.4;
    height: 2px;
    border-radius: 15%;
    width: 100%;
    left: 0;
    bottom: 1px;
}

.pText:before{
    content:"";
    position: absolute;
    background-color:black;
    opacity: 0.4;
    height: 2px;
    border-radius: 15%;
    width: 100%;
    left: 0;
    top: 1px;
}

span a {
	font-size: 18px;
	color: #cccccc;
	text-decoration: none;
	margin: 0 10px;
	transition: all 0.3s ease-in-out;
}
span a:hover{
    color: white;
}

a:link{
    text-decoration: none;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	}
}

.container {
	width: 100%;
    height: 100%;
	display: flex;
    position: absolute;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.aboutContent{
    position: absolute;
    top: 125px;
    left: 200px;
	max-width: 1280px;
	padding: 20px 40px;
	box-sizing: border-box;
	text-align: left;
}

.projectContainer{
    position: absolute;
    height: 800px;
    width: 700px;
    margin-top: 85px;
    margin-left: 900px;
    padding: 25px;
}

.bottomnavbar{
    bottom: 5px;
    height: 50px;
    width: 300px;
    gap: 5%;
    position: absolute;
    margin-left: auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.avatar {
    background: url("../images/avatar.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	width: 150px;
	height: 150px;
    left: 35%;
	box-sizing: content-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
    position: relative;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	animation: float 6s ease-in-out infinite;
}

.content {
	width: 100%;
	max-width: 600px;
	padding: 20px 40px;
	box-sizing: border-box;
	text-align: center;
}

.next{
    background: white;
    opacity: 0.1;
    border-radius: 50%;
    position: absolute;
    margin-top: -120px;
    right: -100px;
    height: 200px;
    width: 200px;
}

.next:hover{
    opacity: 0.3;
    border: 4px solid grey;
    transition: 150ms;
}

#fix{
    margin-top: 45px;
}

.back{
    background: white;
    opacity: 0.1;
    border-radius: 50%;
    position: absolute;
    margin-top: -120px;
    left: -100px;
    height: 200px;
    width: 200px;
}

.back:hover{
    opacity: 0.3;
    border: 4px solid grey;
    transition: 150ms;
}

.resume{
    position: fixed;
    top: 93%;
    left: 92%;
    height: 45px;
    width: 45px;
    background-size: 35px;
    border-radius: 50%;
    background-image: url("../images/resume.png"); 
    background-repeat: no-repeat;
    background-position: center;
}

.resume:hover{
    background-color: rgba(66, 66, 66, .3);
    transition: 500ms ease-in-out;
}

.contact{
    position: fixed;
    top: 93%;
    left: 96%;
    height: 45px;
    width: 45px;
    background-size: 35px;
    border-radius: 50%;
    background-image: url("../images/contact.png"); 
    background-repeat: no-repeat;
    background-position: center;
}

.contact:hover{
    background-color: rgba(66, 66, 66, .3);
    transition: 500ms ease-in-out;
}

#right{
    position: relative;
    height: 50px;
    width: 50px;
    margin-top: 37%;
    margin-left: 15%;
}

#left{
    position: relative;
    height: 50px;
    width: 50px;
    margin-top: 37%;
    margin-left: 55%;
}

.imgContainer{
    height: 300px;
    width: 300px;
}

.imgContainer .text{
    position: relative;
    top: -250px;
    color: white;
    text-align: center;
    opacity: 0;
    z-index: 1;
}

.text #imgText{
    color: red;
}

.imgContainer .overlay{
    position: absolute;
    z-index: 1;
    height: 300px;
    width: 300px;
    background: black;
    opacity: 0;
    border-radius: 5%;
}

.projectImg{
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.imgContainer:hover .overlay{
    opacity: 0.7;
    transition: 300ms;
    border: 2px solid blue;
}

.imgContainer:hover .text{
    top: -190px;
    transition: 300ms;
    opacity: 1;
}

#topR{
    position: absolute;
    text-decoration: none;
    left: 400px;
    top: 25px;
}

#bottomL{
    position: absolute;
    top: 400px;
}

#bottomR{
    position: absolute;
    left: 400px;
    top: 400px;
}

#circle{
    background: url("../images/circle.png");
    background-size: 400px;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    position: fixed;
    top: 30%;
    left: 70%;
    animation: spin 14s infinite linear;
}

#rightGit{
    float: right;
}

#red{
    color: #9e0000a2;
    font-weight: bold;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 600px){
    .resume{
        top: 93%;
        left: 80%;
    }

    .contact{
        top: 93%;
        left: 90%;
    }
}