html{
    min-height: 100%;
}

body {
    margin: 0;
	font-family: 'Helvetica', sans-serif;
    overflow-X: hidden;
    background: hsla(168, 76%, 42%, 1);
    background: linear-gradient(-45deg, hsla(168, 76%, 42%, 1) 0%, hsla(282, 44%, 47%, 1) 100%);
    background: -moz-linear-gradient(-45deg, hsla(168, 76%, 42%, 1) 0%, hsla(282, 44%, 47%, 1) 100%);
    background: -webkit-linear-gradient(-45deg, hsla(168, 76%, 42%, 1) 0%, hsla(282, 44%, 47%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1ABC9C", endColorstr="#8E44AD", GradientType=1 );
}

#name{
	font-size: 24px;
	margin: 10px 0 0 0;
	font-weight: lighter;
	text-transform: uppercase;
	color: #eeeeee;
}

.aboutTitle{
    color: white;
    font-size: 46px;
}

.aboutTitle:after{
    content:"";
    position: absolute;
    background-color:black;
    opacity: 0.4;
    height: 2px;
    border-radius: 15%;
    width: 100%;
    left: 0;
    bottom: 215px;
}

p {
	font-size: 12px;
	font-weight: light;
	color: #333333;
}

h1{
    color: white;
    font-size: 24px;
}

.column{
    color: white;
    font-size: 16px;
    line-height: 28px;
}

#languages{
    position: absolute;
    margin-top: 100px;
    left: 300px;
}

#tools{
    position: absolute;
    margin-top: 25px;
    left: 800px;
}

.pText{
  font-size: 20px;
  line-height: 40px;
  color: white;
  padding: 10px;
}

.pText:after{
    content:"";
    position: absolute;
    background-color:black;
    opacity: 0.4;
    height: 2px;
    border-radius: 15%;
    width: 100%;
    left: 0;
    bottom: 1px;
}

.pText:before{
    content:"";
    position: absolute;
    background-color:black;
    opacity: 0.4;
    height: 2px;
    border-radius: 15%;
    width: 100%;
    left: 0;
    top: 1px;
}

span a {
	font-size: 18px;
	color: #cccccc;
	text-decoration: none;
	margin: 0 10px;
	transition: all 0.3s ease-in-out;
}
span a:hover{
  color: white;
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	}
}

.container {
    /* background: hsla(168, 76%, 42%, 1);
    background: linear-gradient(-45deg, hsla(168, 76%, 42%, 1) 0%, hsla(282, 44%, 47%, 1) 100%);
    background: -moz-linear-gradient(-45deg, hsla(168, 76%, 42%, 1) 0%, hsla(282, 44%, 47%, 1) 100%);
    background: -webkit-linear-gradient(-45deg, hsla(168, 76%, 42%, 1) 0%, hsla(282, 44%, 47%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1ABC9C", endColorstr="#8E44AD", GradientType=1 ); */
	width: 100%;
    height: 100%;
	display: flex;
    position: absolute;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.aboutContent{
    /* background: hsla(168, 76%, 42%, 1);
    background: linear-gradient(-45deg, hsla(168, 76%, 42%, 1) 0%, hsla(282, 44%, 47%, 1) 100%);
    background: -moz-linear-gradient(-45deg, hsla(168, 76%, 42%, 1) 0%, hsla(282, 44%, 47%, 1) 100%);
    background: -webkit-linear-gradient(-45deg, hsla(168, 76%, 42%, 1) 0%, hsla(282, 44%, 47%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1ABC9C", endColorstr="#8E44AD", GradientType=1 );
  
	width: 100%;
    height: 100%;
	display: flex;
    position: absolute;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
    position: absolute;
    top: 150px;
    left: 200px;
	max-width: 1280px;
	padding: 20px 40px;
	box-sizing: border-box;
	text-align: left;
}

.avatar {
    background: url("../images/avatar.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	width: 150px;
	height: 150px;
    left: 35%;
	box-sizing: content-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
    position: relative;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	animation: float 6s ease-in-out infinite;
}

.content {
	width: 100%;
	max-width: 600px;
	padding: 20px 40px;
	box-sizing: border-box;
	text-align: center;
}

.next{
    background: white;
    opacity: 0.1;
    border-radius: 50%;
    position: absolute;
    margin-top: -120px;
    right: -100px;
    height: 200px;
    width: 200px;
}

.next:hover{
    opacity: 0.3;
    border: 4px solid grey;
    transition: 150ms;
}

#fix{
    margin-top: 45px;
}

.back{
    background: white;
    opacity: 0.1;
    border-radius: 50%;
    position: absolute;
    margin-top: -120px;
    left: -100px;
    height: 200px;
    width: 200px;
}

.back:hover{
    opacity: 0.3;
    border: 4px solid grey;
    transition: 150ms;
}

#right{
    position: relative;
    height: 50px;
    width: 50px;
    margin-top: 37%;
    margin-left: 15%;
}

#left{
    position: relative;
    height: 50px;
    width: 50px;
    margin-top: 37%;
    margin-left: 55%;
}

#circle{
    background: url("../images/circle.png");
    background-size: 400px;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    position: fixed;
    top: 30%;
    left: 70%;
    animation: spin 14s infinite linear;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}